* {
  font-family: "Poppins", sans-serif;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  margin: 20px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  margin: 20px;
}

blockquote {
  font-weight: 100;
  margin: 40px;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

a {
}

a:link {
  text-decoration: none;
  outline: none;
}

a:visited {
}

a:focus {
}

a:hover {
}

a:active {
}

header {
  position: fixed;
  top: 0px;
  width: 100vw;
  height: 100px;
  background-color: beige;
  display: grid;
  grid-template-columns: 200px 1fr 200px;
}

main {
  padding-top: 100px;
  padding-bottom: 80px;
}

main > .container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

#logo {
  width: 100%;
  grid-column: 1;
}

#account {
  grid-column: 3;
}

nav {
  grid-column: 2;
  display: flex;
  align-items: center;
}

ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: beige;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

#copyright {
  margin: 20px;
  font-size: 10px;
}

@media (min-width: 701px) {
  #burger {
    display: none;
  }
}

@media (max-width: 700px) {
  nav {
    display: none;
  }
  #account {
    display: none;
  }
  #burger {
    grid-column: 3;
  }
  main {
    padding-bottom: 0px;
    min-height: calc(100vh - 180px);
  }
  footer {
    position: unset;
  }
}
